.bg-primary {
    color: black !important;
    background-color: #CCCCCC !important;
}
caption {
    color: black;
    caption-side: top;
}

/*
html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #a9a9a9;
}

body {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: "Sofia", sans-serif;
    font-size: 3rem;
    text-align: center;
}

nav {
    height: 45px;
    background-color: #000000;
    display: flex;
    margin-bottom: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    font-size: 1.5rem;
    display: inline;
    text-align: center;
    flex: 1;
}

nav a {
    color: lightgrey;
}

main {
    font-size: 1.5rem;
}
*/